html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  tab-size: 4;
  word-break: normal;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 1rem;
  font-family: "Roboto", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.ly_header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.ly_header_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ly_key {
  padding-top: 128px;
}
.ly_key_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_key {
    padding-top: 68px;
  }
  /*=======max-width:768px=======*/
}
.ly_service {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ly_service_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_service {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /*=======max-width:768px=======*/
}
.ly_policy {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ly_policy_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_policy {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /*=======max-width:768px=======*/
}
.ly_access {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ly_access_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_access {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /*=======max-width:768px=======*/
}
.ly_contact {
  background-color: #aac5ec;
  padding-top: 80px;
  padding-bottom: 80px;
}
.ly_contact_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /*=======max-width:768px=======*/
}
.ly_footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1a5bbd;
}
.ly_footer_inner {
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .ly_footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /*=======max-width:768px=======*/
}
.bl_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl_header_title {
  font-size: 2rem;
  font-family: "Yuji Syuku", serif;
  color: black;
}
.bl_header_sideMenu {
  text-align: right;
}
.bl_header_text {
  font-size: 0.75rem;
}
.bl_header_tel {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.bl_header_textInner {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding: 3px;
  color: #fff;
}
.bl_header_textInner:first-of-type {
  background-color: #f0b802;
}
.bl_header_textInner:last-of-type {
  background-color: #1a5bbd;
}

@media screen and (min-width: 769px) {
  .bl_header_phone {
    display: none;
  }
  /*=======min-width:769px=======*/
}
@media screen and (max-width: 768px) {
  .bl_header_sideMenu {
    display: flex;
    align-items: center;
  }
  .bl_header_title {
    font-size: 1.3rem;
  }
  .bl_header_text {
    display: none;
    align-items: center;
  }
  .bl_header_tel {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
  }
  .bl_header_phone {
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
  .bl_header_textInner {
    display: none;
  }
  /*=======max-width:768px=======*/
}
.bl_key {
  background-image: url(../img/key.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}
.bl_key_wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.bl_key_catch {
  display: block;
  color: #fff;
  height: 200px;
  padding-top: 100px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #868686;
}
.bl_key_catch > span:first-of-type {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3rem;
  background-color: #1a5bbd;
}
.bl_key_catch > span:nth-of-type(2) {
  padding-left: 10px;
}
.bl_key_catch > span:last-of-type {
  line-height: 3;
}
.bl_key_imgContainer {
  height: 100%;
  position: relative;
}
.bl_key_img {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bl_key_caption {
  position: absolute;
  bottom: 40px;
  right: 0;
  color: #fff;
  font-family: "Yuji Syuku", serif;
  font-size: 1.125rem;
  width: 200px;
  text-align: right;
}
.bl_key_caption > span {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .bl_key_wrapper {
    flex-direction: column;
  }
  .bl_key_catch {
    font-size: 1.125rem;
  }
  .bl_key_catch > span:first-of-type {
    font-size: 2.5rem;
  }
  .bl_key_img {
    height: 300px;
  }
  /*=======max-width:768px=======*/
}
.bl_service_title {
  text-align: center;
  font-size: 2rem;
}
.bl_service_mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_service_mainTitle:before {
  content: "";
  border-top: 1px solid rgb(189, 189, 189);
  width: 20%;
  margin-right: 1em;
}
.bl_service_mainTitle:after {
  content: "";
  border-top: 1px solid rgb(189, 189, 189);
  width: 20%;
  margin-left: 1em;
}
.bl_service_subText {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 30px;
}
.bl_service_container {
  display: flex;
  justify-content: space-around;
}
.bl_service_item {
  width: 32%;
}
.bl_service_subTitle {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.bl_service_img {
  width: 100%;
  padding-bottom: 20px;
}
.bl_service_text {
  padding: 5px;
  padding-top: 10px;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 1px solid rgb(189, 189, 189);
  height: 200px;
}

@media screen and (max-width: 768px) {
  .bl_service_container {
    flex-direction: column;
  }
  .bl_service_subTitle {
    padding-bottom: 10px;
  }
  .bl_service_img {
    padding-bottom: 10px;
  }
  .bl_service_item {
    width: 100%;
    padding-bottom: 30px;
  }
  /*=======max-width:768px=======*/
}
.bl_policy_img {
  background-image: url("../img/policy2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.bl_policy_title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
.bl_policy_mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_policy_mainTitle:before {
  content: "";
  border-top: 1px solid #fff;
  width: 20%;
  margin-right: 1em;
}
.bl_policy_mainTitle:after {
  content: "";
  border-top: 1px solid #fff;
  width: 20%;
  margin-left: 1em;
}
.bl_policy_subText {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 30px;
  color: #fff;
}
.bl_policy_bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 60px;
  padding-bottom: 60px;
}
.bl_policy_text {
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .bl_policy_bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bl_policy_text {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  /*=======max-width:768px=======*/
}
.bl_access_title {
  text-align: center;
  font-size: 2rem;
}
.bl_access_mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_access_mainTitle:before {
  content: "";
  border-top: 1px solid rgb(189, 189, 189);
  width: 20%;
  margin-right: 1em;
}
.bl_access_mainTitle:after {
  content: "";
  border-top: 1px solid rgb(189, 189, 189);
  width: 20%;
  margin-left: 1em;
}
.bl_access_subText {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 30px;
}
.bl_access_container {
  display: flex;
  justify-content: space-around;
}
.bl_access_map {
  width: 45%;
  height: 300px;
}
.bl_access_textContainer {
  width: 45%;
}
.bl_access_subTitle {
  font-size: 1.5rem;
  padding-bottom: 20px;
  line-height: 1;
}
.bl_access_text {
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .bl_access_subText {
    font-size: 1rem;
    text-align: center;
  }
  .bl_access_container {
    flex-direction: column;
  }
  .bl_access_map {
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
  }
  .bl_access_textContainer {
    width: 100%;
  }
  .bl_access_subTitle {
    padding-bottom: 10px;
  }
  /*=======max-width:768px=======*/
}
.bl_contact_title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 30px;
}
.bl_contact_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_contact_num {
  border-right: 1px solid black;
}
.bl_contact_numText {
  padding-right: 50px;
  padding-bottom: 5px;
  font-size: 0.75rem;
}
.bl_contact_numText:first-of-type {
  font-size: 1.5rem;
}
.bl_contact_mail {
  padding-left: 50px;
}
.bl_contact_mailLink {
  display: block;
  padding: 15px;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .bl_contact_num {
    border-right: none;
    padding-bottom: 30px;
  }
  .bl_contact_numText {
    padding-right: 0;
  }
  .bl_contact_items {
    flex-direction: column;
  }
  .bl_contact_mail {
    padding-left: 0;
  }
  /*=======max-width:768px=======*/
}
.bl_footer {
  text-align: center;
}
.bl_footer_text {
  color: #fff;
}

.el_nav_listContainer {
  display: flex;
  justify-content: right;
}
.el_nav_list {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.el_nav_list:last-child {
  padding-right: 0;
  border: none;
}
.el_nav_link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 769px) {
  .el_nav_hum {
    display: none;
  }
  /*=======min-width:769px=======*/
}
@media screen and (max-width: 768px) {
  .el_nav_hum {
    position: relative;
    cursor: pointer;
    z-index: 1100;
  }
  .el_nav_listContainer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    opacity: 0.9;
    background-color: #1a5bbd;
    transition: transform 0.7s;
    text-align: center;
  }
  .el_nav_link {
    color: #fff;
  }
  .el_nav_stick {
    display: block;
    height: 2px;
    width: 44px;
    margin-bottom: 16px;
    background-color: black;
    transition: transform 0.7s;
  }
  .el_nav_stick:last-of-type {
    margin-bottom: 0;
  }
  /*=======max-width:768px=======*/
}
.js_topBtn {
  visibility: hidden;
  transform: translateY(20px);
}

.js_hum.is_active > span {
  background-color: #fff;
}
.js_hum.is_active > span:first-of-type {
  transform: translateY(18px) rotate(135deg);
}
.js_hum.is_active > span:nth-of-type(2) {
  transform: scale(0) translateX(20px);
}
.js_hum.is_active > span:last-of-type {
  transform: translateY(-18px) rotate(-135deg);
}

.js_hum_listContainer.is_active {
  right: -100%;
  transform: translateX(-100%);
}

.js_up {
  transform: translateY(20px);
  opacity: 0;
}/*# sourceMappingURL=style.css.map */