@use "../lib" as l;

.ly_header {
  position: fixed;
  width: 100%;
  background-color: l.$cWhite;
  z-index: 100;

  &_inner {
    @include l.center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
