@use "../lib" as l;

.ly_policy {
  padding-top: 80px;
  padding-bottom: 80px;
  &_inner {
    @include l.center;
  }
}

@include l.break_sp {
  .ly_policy {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
