@use "../../lib" as l;

.el_nav {
  &_listContainer {
    display: flex;
    justify-content: right;
  }

  &_list {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba($color: l.$cFont, $alpha: 0.3);

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }

  &_link {
    &:hover {
      opacity: 0.7;
    }
  }
}

@include l.break_pc {
  .el_nav {
    &_hum {
      display: none;
    }
  }
}

@include l.break_sp {
  .el_nav {
    &_hum {
      position: relative;
      cursor: pointer;
      z-index: 1100;
    }

    &_listContainer {
      position: fixed;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      z-index: 1000;
      height: 100vh;
      width: 100%;
      top: 0;
      right: -100%;
      opacity: 0.9;
      background-color: l.$cMain;
      transition: transform 0.7s;
      text-align: center;
    }

    &_link {
      color: l.$cWhite;
    }

    &_stick {
      display: block;
      height: 2px;
      width: 44px;
      margin-bottom: 16px;
      background-color: l.$cFont;
      transition: transform 0.7s;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
